<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Welcome to 3 Mart 2014!</h1>
  <p class="lead">We welcome you to the first event for 2014. Hope you like what SKO Sever has prepared for you.</p>
  <p>
    <% if @hours_to_go > 0 %>
    <a class="btn btn-lg btn-success" href="#" role="button">Event will start in <%= @hours_to_go %> hours.</a>
    <% elsif @hours_to_go < -7 %>
      Event ended. Here are the <a href="/results" class="btn btn-lg btn-success" role="button"> results </a>
    <% else %>
      <a class="btn btn-lg btn-warning" href="#" role="button">Event is now Live.</a>
    <% end %>
  </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Invitation</h2>
    <p>Information about the 3 mart event. Accomodation, start fees and registration.</p>
    <p><a class="btn btn-primary" href="#" role="button">Download &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Bulletin 1</h2>
    <p>You will find detailed information about the courses and the forsest.</p>
    <p><a class="btn btn-primary" href="/bulletin/1" role="button">Download &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Event Location</h2>
    <p>The event will take place east of selo Grivica. Right next to the local small airport.</p>
    <p><a class="btn btn-primary" href="/map" role="button">View Map &raquo;</a></p>
  </div>
</div>
