<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Welcome to 3 Mart 2014!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
  <p>
    <% if @hours_to_go > 0 %>
    <a class="btn btn-lg btn-success" href="#" role="button">Event will start in <%= @hours_to_go %> hours.</a>
    <% elsif @hours_to_go < -7 %>
      Event ended. Here are the <a href="/results" class="btn btn-lg btn-success" role="button"> results </a>
    <% else %>
      <a class="btn btn-lg btn-warning" href="#" role="button">Event is now Live.</a>
    <% end %>
  </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Bulletin 1!</h2>
    <p class="text-danger">As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
    <p><a class="btn btn-primary" href="#" role="button">Download &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Bulletin 2</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-primary" href="/bulletin/1" role="button">Download &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Event Location</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
    <p><a class="btn btn-primary" href="/map" role="button">View Map &raquo;</a></p>
  </div>
</div>
