<!--<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <object data="data/test.pdf" type="application/pdf" width="100%" height="700">
      alt : <a href="data/test.pdf">test.pdf</a>
    </object>
  </div>
</div>-->

<div class="jumbotron">
  <h1>Split times will be published after the event!</h1>
</div>
