<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <object data="http://bgof.org/upload/Buletin1_3Mart2014.pdf" type="application/pdf" width="100%" height="700">
      alt : <a href="http://bgof.org/upload/Buletin1_3Mart2014.pdf">test.pdf</a>
    </object>
  </div>
</div>
