<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <object data="/assets/start_list.pdf" type="application/pdf" width="100%" height="700">
      alt : <a href="/assets/start_list.pdf">start_list.pdf</a>
    </object>
  </div>
</div>
