<%= erb :_results_menu %>
<br/><br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <object data="http://bgorienteering.com/Otborno.pdf" type="application/pdf" width="100%" height="700">
      alt : <a href="http://bgorienteering.com/Otborno.pdf">team_results.pdf</a>
    </object>
  </div>
</div>
