<!--<div style="margin-top: 40px;" class="row"></div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <object type="application/x-shockwave-flash" data="http://www.justin.tv/swflibs/JustinPlayer.swf?channel=loggator1" id="live_embed_player_flash" height="400" width="100%" bgcolor="#000000"><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.justin.tv/swflibs/JustinPlayer.swf" /><param name="flashvars" value="hostname=www.justin.tv&channel=loggator1&auto_play=false&start_volume=25" /></object><a href="http://www.justin.tv/loggator1#r=-rid-&amp;s=em" class="trk" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center">Watch live video from loggator1 on www.justin.tv</a>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <iframe allowtransparency="true" frameborder="0" scrolling="no" id="chat_embed" src="http://www.justin.tv/chat/embed?channel=loggator1&amp;default_chat=jtv&amp;#r=-rid-&amp;s=em" height="500" width="100%"></iframe>
  </div>
</div>
-->

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gaNzejAtZDA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
